@model EmployeeViewData
<form asp-controller="Employee" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Employee</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="modal-content" class="m-b-10">
            <div class="container p-5">
                <div asp-validation-summary="ModelOnly">
                    <span class="text-danger">Please correct the following errors</span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" type="text" class="form-control w-100" placeholder="Utsav Kuinkel">
                    <span asp-validation-for="FullName" class="text-danger" required></span>
                </div>

                <div class="form-group">
                    <label asp-for="Designation"></label>
                    <input type="text" class="form-control" asp-for="Designation">
                    <span asp-validation-for="Designation" class="text-danger" required></span>
                    @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                    *@
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <input type="text" asp-for="Gender" class="form-control" placeholder="Gender">
                    <span asp-validation-for="Gender" class="text-danger" required></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth"></label>
                    <input asp-for="DateOfBirth" type="date" class="form-control" placeholder="04/04/2022">
                    <span asp-validation-for="DateOfBirth" class="text-danger" required></span>
                </div>
                <div class="form-group">
                    <label asp-for="Salary"></label>
                    <input asp-for="Salary" type="number" class="form-control" placeholder="20000">
                    <span asp-validation-for="Salary" class="text-danger" required></span>
                </div>

                <div class="form-group">
                    <label asp-for="FormImage"></label>
                    <input id="FormImage" asp-for="FormImage" name="FormImage" type="file" accept="image/*"
                        class="form-control" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" asp-controller="Employee"
                asp-action="Index">Close</button>
        </div>
    </div>

</form>

<script>
    var uploadField = document.getElementById("FormImage");

    uploadField.onchange = function () {
        debugger;
        if (this.files[0].size > 4000000) {
            alert("File size cannot exceed 4mb!");
            this.value = "";
        };
    };
</script>
