<form enctype="multipart/form-data" asp-action='ImportFile' asp-controller='Employee' method="post">
    <input name="postedFile" type="file" accept=".xls,.xlsx,.csv"/>
    <input type="submit" value="Submit File">
</form>